.rub {font-family:'Rubik';}
.rob {font-family:'Roboto';}

.loading-container-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.loader-spinner-icon {
  height: 35px;
}

.profile-page-content {
  width:100%;
}

.profile-cover-photo {
  width: 100%;
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
}

.profile-photo {
  width: 130px;
  height: 130px;
  border-radius: 130px;
  background-size: cover !important;
  background-position: center !important;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
}

.profile-header-block {
  padding: 0px 20px;
  margin-top: -70px;
}

.profile-name {
  font-size: 20.5px;
  font-family: 'Rubik';
  font-weight: 500;
  color: #2e4a62;
  margin-top: 8px;
}

.ratings-bottomline-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile-username {
  font-size: 16.8px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: 8px;
  color: #6a6a6a;
}

.full-star {
  height: 22px;
  margin-right: -3px;
}

.header-wrapper-outer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgb(73,73,73);
  background: linear-gradient(180deg, rgba(73,73,73,1) 0%, rgba(73,73,73,1) 0%, rgba(73,73,73,0.6923144257703081) 25%, rgba(73,73,73,0.4738270308123249) 50%, rgba(73,73,73,0) 100%);
}

.bottomline-ratings {
  font-family: 'Rubik';
  font-weight: 100;
  font-size: 13.5px;
  margin-left: 8px;
}

.profile-name-username-wrapper {width: max-content; margin-top: -3px;}

.profile-card-section-list {
  margin-top: 22px;
  border-top: solid;
  border-width: 1px;
  border-color: #f7f7f7;
  padding-top: 18px;
}

.profile-card-section-title {
  font-family: 'Roboto';
  font-size: 13.5px;
  letter-spacing: 0.3px;
  color: #3f89b5;
  background: linear-gradient(0deg, #00447a 0%, #084676 58%, rgb(0 100 229) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-column {
  border-right: solid;
  border-width: 1px;
  border-color: #f5f5f5;
}

.socials-icon {width:36px; margin-right: 3px;}

.social-list {margin-top:14px;}

.about-me-description {
  font-size: 14px;
  line-height: 23px;
  font-family: 'Roboto';
  color: #000000;
  margin-top: 8px;
}

.profile-city {
   border-style: solid;
   border-width: 1px;
   padding: 8px 12px;
  border-radius: 6px;
  font-family: 'Roboto';
  font-size: 13px;
  color: white;
  background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(14,150,215,1) 58%, rgba(45,136,253,1) 100%);
}

.site-attribution-wrapper {
  margin-top: 12px;
}

.site-attribution {
  font-size: 11px;
  letter-spacing: 0.3px;
font-family: 'Roboto';
color: #a1a1a1;
}

.site-nav-link {
  font-size: 11.5px;
  letter-spacing: 0.3px;
  font-family: 'Roboto';
  color: #a1a1a1;
}

.site-nav-link-wrapper {
  display: flex;
  margin-top: 8px;
}

.site-nav-link {
  margin-right: 5px;
  border-right-style: solid;
  padding-right: 8px;
  border-right-width: 1px;
}

.page-error-message {
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 6px;
    font-family: 'Roboto';
    font-size: 14.5px;
    line-height: 23px;
}

.error-bug {
  margin-bottom: 10px;
}

.post-creator-main {
  width: 100%;
    max-width: 980px;
    padding: 15px;
}

.editor-help-wrapper {
  margin-top: 15px;
  font-size: 12px;
  font-family: 'Rubik';
  color: #787878;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.page-title {
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #282828;
}

.page-title-wrapper {
  border-bottom: solid;
border-width: 1px;
border-color: #f1f1f1;
padding-bottom: 15px;
}

.main-header-wrapper-outer {
  background-color: #05001d;
  height: 60px;
}

.main-header-wrapper-inner {
  height: inherit;
  padding: 0px 20px;
}

.site-logo-content {
  height: inherit;
  display: flex;
    align-items: center;
}

.site-long-name {
  color: white;
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 200;
  border-left: solid;
  border-left-width: 2px;
  padding-left: 18px;
  margin-left: 18px;
}

.page-breadcrumb-previous {
  font-family: 'Rubik';
font-weight: 400;
font-size: 14px;
letter-spacing: 0.3px;
}

.page-breadcrumb {
  margin-bottom: 8px;
}

.page-breadcrumb-current {
  font-family: 'Rubik';
font-weight: 400;
font-size: 14px;
letter-spacing: 0.3px;
}

.page-breadcrumb-previous:link{
  text-decoration: none;
  color: #2196f3;
}

.page-breadcrumb-previous:visited{
  text-decoration: none;
  color: #2196f3;
}

.profile-thumbnail-inner {
  display: flex;
  align-items: center;
}

.profile-photo-thumbnail {
  width: 60px;
  height: 60px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 60px;
}

.profile-thumbnail-sidepane {
  margin-left: 11px;
}

.profile-thumbnail-name {
  font-family: 'Rubik';
font-size: 16.5px;
font-weight: 400;
}

.profile-thumbnail-username {
  font-family: 'Rubik';
font-size: 14px;
color: #2196f3;
letter-spacing: 0.3px;
}

.profile-thumbnail-wrapper {
  margin-top: 20px;
}

.post-editor-helper-icon {
  fill: #5c5c5c;
  cursor: pointer;
  margin-left: 10px;
}

.post-editor-helpers {
  display: flex;
  align-items: center;
}

.post-editor-helper-icon:hover {
  fill: #2196f3;
}

.post-creator-inner {
  display: flex;
  flex-grow: 1;
}

.project-card-image {
    width: 100%;
    height: 230px;
    background-size: cover!important;
    background-position: center!important;
}

.project-card-image-wrapper {
  max-width: 480px;
}

.project-card-details {
  padding: 24px;
}

.project-tag {
  font-family: 'Rubik';
    text-transform: uppercase;
    font-size: 12.3px;
    color: white;
    border: solid;
    width: max-content;
    border-width: 1px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #2196f3;
}

.project-card-title {
  font-size: 18.5px;
  font-weight: bold;
  font-family: 'Roboto';
  line-height: 25px;
  color: #303030;
  letter-spacing: 0.3px;
}

.project-card-wrapper {
  width: 100%;
  background-color: #fdfdfd;
border-radius: 10px;
box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
}

.project-card-outer {
  width: 100%;
}

.project-card-inner {
  width: 100%;
}

.project-card-image-wrapper {
  width: 100%;
}

.post-creator-wrapper {
  width: 100%;
}

.profile-thumbnail-city {
  color: #bdbdbd;
  font-weight: 100;
}

.project-card-title-header {
  margin-bottom: 12px;
}

.project-city {
  margin-left: 6px;
font-family: 'Roboto';
font-weight: 400;
font-size: 13.5px;
letter-spacing: 0.5px;
}

.project-location-icon {
  margin-left: 12px;
}

.project-card-about-show-prompt-wrapper {
  display: block;
}

.project-card-about-show-prompt {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 15.5px;
  color: #626161;
}

.project-card-about-outer-wrapper {
  display: none;
}

.project-card-about-inner-wrapper {
  margin-top: 10px;
}

.project-about-description-text {
  margin-top: 10px;
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 21px;
}

.post-cta-actions {
  margin-top: 20px;

}

.site-attribution-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  font-family: 'Rubik';
  font-size: 12px;
  color: #626262;
  padding: 8px;
}

.post-editor-timestamp {
  font-size: 11px;
  font-family: 'Rubik';
  color: #5a5a5a;
}

.post-editor-timestamp-declaration {
  display: flex;
  align-items: center;
}

.post-editor-timestamp-text {
  margin-left: 10px;
}

.post-editor-header {
  align-items: center;
}


@media screen and (min-width: 1241px) {
  .profile-page-content {display: flex;}
  .profile-column {width: 100%; max-width: 420px;}
  .profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 160px;
  }
  .profile-header-block {margin-top:-80px;}
  .header-wrapper-outer {display: none;}
  .profile-name-username-wrapper {display: flex;align-items: center;}
  .profile-username {margin-left: 6px; margin-top: 5px;}
  .post-creator-main {padding: 40px; margin-top:40px;}
  .post-creator-wrapper{
    display: flex;
    flex-direction: row-reverse;
  }
  .project-card-wrapper {width: 380px; margin-right: 70px;}
  .project-card-about-outer-wrapper {display: block;}
  .post-editor-timestamp {flex-grow: 1;text-align: right; display: flex; justify-content: flex-end;}
}

@media screen and (max-width: 1240px) and (min-width: 1201px) {
  .profile-page-content {display: flex;}
  .profile-column {width: 100%; max-width: 420px;}
  .header-wrapper-outer {display: none;}
  .profile-name-username-wrapper {display: flex;align-items: center;}
  .profile-username {margin-left: 6px; margin-top: 5px;}
  .post-creator-main {padding: 40px; margin-top:40px;}
  .post-creator-wrapper{
    display: flex;
    flex-direction: row-reverse;
  }
  .project-card-wrapper {width: 380px; margin-right: 70px;}
  .project-card-about-outer-wrapper {display: block;}
  .post-editor-timestamp {flex-grow: 1;text-align: right; display: flex; justify-content: flex-end;}
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .profile-page-content {display: flex;}
  .profile-column {width: 100%; max-width: 400px;}
  .header-wrapper-outer {display: none;}
  .profile-name-username-wrapper {display: flex;align-items: center;}
  .profile-username {margin-left: 6px; margin-top: 5px;}
  .post-creator-main {padding: 40px; margin-top:40px;}
  .post-creator-wrapper{
    display: flex;
    flex-direction: row-reverse;
  }
  .project-card-wrapper {width: 380px; margin-right: 70px;}
  .project-card-about-outer-wrapper {display: block;}
  .post-editor-timestamp {flex-grow: 1;text-align: right; display: flex; justify-content: flex-end;}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .profile-page-content {display: flex;}
  .profile-column {width: 100%; max-width: 380px;}
  .header-wrapper-outer {display: none;}
  .profile-name-username-wrapper {display: flex;align-items: center;}
  .profile-username {margin-left: 6px; margin-top: 5px;}
  .post-creator-main {padding: 40px;}
  .project-card-inner {display: flex;}
  .post-editor-timestamp {flex-grow: 1;text-align: right; display: flex; justify-content: flex-end;}
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .post-creator-main {padding: 18px;}
  .project-card-inner {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    .project-card-outer {padding-top:10px;}
    .project-card-image {height: 280px;}
    .post-editor-timestamp {flex-grow: 1;text-align: right; display: flex; justify-content: flex-end;}
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  .project-card-inner {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    .project-card-outer {padding-top:10px;}
    .project-card-image {height: 280px;}
    .post-editor-header {flex-wrap: wrap;}
    .post-editor-timestamp {width: 100%;margin-top: 30px;}
}

@media screen and (max-width: 480px) and (min-width: 1px) {
  .post-editor-header {flex-wrap: wrap;}
  .post-editor-timestamp {width: 100%;margin-top: 30px;}
}
