<div class="site-header">
    <div class="flex ac wrapper">
        <div class="header-left">

        </div>
        <div class="header-right flex">
            <div class="profile-photo-cont" style="background:url('{{requester.profilePhoto}}'); background-size: cover; background-position: center;"></div>
            <div class="names">
                <div class="name">{{requester.name}}</div>
                <div class="username">@{{requester.username}}</div>
            </div>
            <div class="reviews">
                <div class="stars-container ac">
                    <img src="/images/full-star.svg" alt="">
                    <img src="/images/full-star.svg" alt="">
                    <img src="/images/full-star.svg" alt="">
                    <img src="/images/full-star.svg" alt="">
                    <img src="/images/full-star.svg" alt="">
                    <div class="bottomline">5.0 / 540 reviews</div>
                </div>
            </div>
        </div>
    </div>
</div>

<style media="screen">

    .site-header {
        box-shadow: inset 0 -1px 0 #f6f6f6;
        background: rgb(255,255,255);
        background: linear-gradient(280deg, rgba(255,255,255,1) 0%, rgba(222,201,255,1) 35%, rgba(199,174,244,1) 47%, rgba(126,77,213,1) 65%, rgba(103,58,183,1) 100%);
        width: 100%;
        height: 75px;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        position: fixed;
        top: 0;
        left: 0;
    }
    .site-header .wrapper {
        height: inherit;
    }
    .header-left {
        width: 50%;
    }
    .header-right {
        flex-direction: row-reverse;
        align-items: center;
        width: 50%;
    }
    .site-header .reviews{
        margin-right: 40px;
        border-right: solid;
        border-width: 1px;
        border-color: #ebebeb;
        height: 100%;
        padding-right: 40px;
    }
    .site-header .stars-container {
        display: flex;
    }
    .site-header .reviews .bottomline {
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 300;
        color: #101010;
        margin-top: 4px;
        margin-left: 18px;
    }
    .profile-photo-cont {
        height: 55px;
        width: 55px;
        border-radius: 55px;
        background-color: #e7e7e7;
    }
    .site-header .username {
        text-align: right;
    }
    .site-header .names {
        margin-right: 40px;
    }
    .site-header .name, .username{
        font-family:'Roboto'
    }
    .site-header .name {
        font-size: 16.5px;
        letter-spacing: 0.1px;
        color: #282828;
        font-weight: 500;
    }
    .site-header .username{
        font-weight: 200;
        margin-top: -2px;
        font-size: 15.6;
    }
    @media (min-width:760px){
    }
    @media (max-width: 659px) {

    }
</style>
