<div class="profile-cover-photo" style="background:url('https://images.unsplash.com/photo-1648933142932-47c00d284ecf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')"></div>
<div class="profile-header-block">
  <div class="profile-photo" style="background:url('https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80')"></div>
  <div class="ratings-bottomline-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill:rgb(0 121 217);transform: ;msFilter:; margin-right:5px;"><circle cx="12" cy="12" r="4"></circle><path d="M13 4.069V2h-2v2.069A8.01 8.01 0 0 0 4.069 11H2v2h2.069A8.008 8.008 0 0 0 11 19.931V22h2v-2.069A8.007 8.007 0 0 0 19.931 13H22v-2h-2.069A8.008 8.008 0 0 0 13 4.069zM12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z"></path></svg>
    <div class="profile-card-section-title">Cagayan de Oro City</div>
  </div>
  <div class="profile-name-username-wrapper">
    <div class="profile-name">Kenjie Terrado</div>
    <div class="profile-username">@rterrado</div>
  </div>
  <div class="profile-card-section-list">
    <div class="profile-card-section-title">About Me</div>
    <div class="about-me-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    </div>
  </div>
  <div class="express-on-desktop">
    <div class="profile-card-section-list">
      <div class="profile-card-section-title">Find Me</div>
      <div class="social-list">
        <img class="socials-icon" src="/socials/facebook-icon.svg" alt="">
        <img class="socials-icon" src="/socials/twitter-icon.svg" alt="">
        <img class="socials-icon" src="/socials/instagram-icon.svg" alt="">
      </div>
    </div>
    <div class="profile-card-section-list">
      <div class="site-attribution-wrapper">
        <div class="site-attribution">(c) MindaTeam, 2022. Developed by Ken Terrado</div>
        <div class="site-nav-link-wrapper">
          <div class="site-nav-link">About Us</div>
          <div class="site-nav-link">Contact Us</div>
        </div>
      </div>
    </div>
  </div>
</div>
