<div xpatch="userCard" class="profile-card-container">
    <div class="user-cover">
        <img class="user-cover-photo" src="https://picsum.photos/800/400">
    </div>
    <div class="user-card">
        <div xif="User.profilePhoto==null">
            <div class="user-profile-photo" style="background:url('/images/empty-profile.png');background-size: cover; background-position:center;"></div>
        </div>
        <div xif="User.profilePhoto!==null">
            <div class="user-profile-photo" style="background:url('{{User.profilePhoto}}');background-size: cover; background-position:center;"></div>
        </div>
    </div>
    <div class="profile-card-bottomline w100 profile-name-wrapper profile-card-metric">
        {{reviewSvc.generateStars(User.bottomLine.averageScore)}} <div class="profile-card-ave">({{reviewSvc.roundOff(User.bottomLine.averageScore)}})</div>
    </div>
    <div class="profile-name-wrapper">
        <div class="s-name-title">
            {{User.firstName}} {{User.lastName}}
        </div>
    </div>
    <div class="profile-card-username">
        @{{User.username}}
    </div>
    <div class="profile-card-total-review">
        <div class="">
          {{presets.icons.review}}
        </div>
        <div class="profile-card-metric profile-card-total-review-metric">
          {{User.bottomLine.totalReviews}} Reviews
        </div>
    </div>
    <div class="profile-card-user-d">
      <div class="profile-card-user-i">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" style="fill:rgb(43 155 132);transform: ;msFilter:;"><circle cx="12" cy="12" r="4"></circle><path d="M13 4.069V2h-2v2.069A8.01 8.01 0 0 0 4.069 11H2v2h2.069A8.008 8.008 0 0 0 11 19.931V22h2v-2.069A8.007 8.007 0 0 0 19.931 13H22v-2h-2.069A8.008 8.008 0 0 0 13 4.069zM12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z"></path></svg>
      </div>
      <div class="profile-card-user-a">
        South Hampton, Philippines
      </div>
    </div>
    <div class="profile-card-socials">
      <div class="flex ac">
        <img class="facebook socials-logo" src="/images/facebook-icon.svg">
        <img class="instagram socials-logo" src="/images/instagram-icon.svg">
        <img class="twitter socials-logo" src="/images/twitter-icon.svg">
      </div>
      <br>
      <div class="flex ac">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" style="fill:rgb(171 170 170);transform: ;msFilter:;"><path d="M8.465 11.293c1.133-1.133 3.109-1.133 4.242 0l.707.707 1.414-1.414-.707-.707c-.943-.944-2.199-1.465-3.535-1.465s-2.592.521-3.535 1.465L4.929 12a5.008 5.008 0 0 0 0 7.071 4.983 4.983 0 0 0 3.535 1.462A4.982 4.982 0 0 0 12 19.071l.707-.707-1.414-1.414-.707.707a3.007 3.007 0 0 1-4.243 0 3.005 3.005 0 0 1 0-4.243l2.122-2.121z"></path><path d="m12 4.929-.707.707 1.414 1.414.707-.707a3.007 3.007 0 0 1 4.243 0 3.005 3.005 0 0 1 0 4.243l-2.122 2.121c-1.133 1.133-3.109 1.133-4.242 0L10.586 12l-1.414 1.414.707.707c.943.944 2.199 1.465 3.535 1.465s2.592-.521 3.535-1.465L19.071 12a5.008 5.008 0 0 0 0-7.071 5.006 5.006 0 0 0-7.071 0z"></path></svg>
        <div class="socials-link">
          https://www.kenjieterrado.com/
        </div>
      </div>
    </div>
</div>

<style media="screen">
  .profile-card-metric {font-family:'Rubik';font-size:13.5px;}
  .profile-card-user-d {
    width: 100%;
    display: flex;
    margin-top: 10px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-color: #f3f3f3;
  }
  .profile-card-user-a {
    margin-left: 5px;
    font-family: 'Rubik';
    font-size: 13.5px;
  }
  .profile-card-user-i {

  }
</style>
