body {
  /*background:url('https://images.unsplash.com/photo-1631409623102-c835e4b35275?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');*/
  background: white;
}

#loader .loading {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#loader #spinner {
  height: 35px;
}

#main {
  display: none;
  height: max-content;
}

.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

.icon-svg {
    height: 18px;
    width: 18px;
    fill: #545454;
}

.h-inherit {
  height: inherit;
}

.h-100 {
  height: 99vh;
}

.w-inherit {
  width: inherit;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.label-rg {
    font-size: 12.5px;
    font-family: 'Roboto';
    margin-bottom: 8px;
    color: #858585;
    letter-spacing: 0.3px;
}

.text-center {
  text-align: center;
}

main.with-header {

}

.standard-layout {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.standard-layout > .left {
    width: 27%;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #efefef;
}

.profile-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.profile-card-sticky {
  position: sticky;
  top: 0;
}

.profile-card-username {
  margin-top: -10px;
  color: #323232;
  font-family: 'Rubik';
  font-weight: 300;
  border-bottom-style: solid;
  padding-bottom: 8px;
  border-bottom-width: 1px;
  width: 100%;
  border-bottom-color: #f3f3f3;
}

.profile-card-ave {
    margin-left: 5px;
    margin-top: 1px;
}

.profile-card-total-review {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom-style: solid;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #f3f3f3;
}

.profile-card-socials {
  width: 100%;
  margin-top: 18px;
}

.socials-link {
  margin-left: 12px;
  font-family: 'Rubik';
  font-size: 12.5px;
  font-weight: 500;
  color: rgb(29, 155, 240);
}

.socials-logo {
  width: 35px;
  margin-right: 8px;
}

.profile-card-total-review-metric {
  margin-left:10px;
  margin-top:-1px;
}

.profile-card-bottomline {
  margin-bottom: -14px !important;
  display: flex;
}

.standard-layout > .middle {
    display: flex;
    width: 48%;
}

.standard-layout > .right {
    width: 25%;
    border-left-style: solid;
    height: 100%;
    border-width: 1px;
    border-color: #efefef;
}

.login-card-pages {
  padding: 20px 20px 20px 20px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 0.1em 0.4em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  background-color: #3d5e6a;
  border-radius: 10px;
}

.white {
  color: white!important;
}

.profile-menu {
    width: 100%;
    padding: 40px 0px 0px 0px;
}
.profile-menu .item {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    margin-bottom: 18px;
}
.profile-menu .item:hover {
    color: #00947e;
}
.profile-name-wrapper {
    margin-top: 18px;
    margin-bottom: 8px;
    width: 100%;
}
.profile-menu .icon {
    margin-left: 25px;
}

a.normal-link:link {
    color: #282828 !important;
}
a.normal-link:visited {
    color: #282828 !important;
}
a.normal-link:hover {
    color: #00947e !important;
}

.s-title {
  font-size: 15.5px;
  letter-spacing: 0.1px;
  color: #282828;
  font-weight: 600;
}

.s-name-title {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #282828;
}

.user-profile-photo {
    width: 130px;
    height: 130px;
    border-radius: 180px;
    background-color: #ffffff !important;
    border: solid;
    border-color: #00947e;
}

.single-post-container {
    padding: 15px 35px;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
    cursor:pointer;
}

.single-post-container:hover{
    background: #f9f9f9;
}

.post-card-profile-photo {
    height: 45px;
    width: 45px;
    border-radius: 55px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
}

.post-card-username {
    font-weight: 200;
    font-size: 15.6;
    margin-left: 8px;
}

.post-card-username-write {
    font-weight: 200;
    font-size: 15.6;
}

.post-card-single-username {
    margin-right: 10px;
    font-size: 15.6;
}

.post-card-user-ratings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card-user-star {
  width: 18px;
  margin-bottom: 15px;
}

.post-card-user-average {
  font-size: 11px;
  color: #b3b3b3;
}

.post-card-body {
  font-family: 'Rubik';
  font-size: 14.5px;
  font-weight: 400;
  color: #060606;
  margin-top: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #efefef;
  padding-top: 10px;
}

.post-listing-image {
    width: 100%;
    height: 280px;
}

.post-listing-image-container {
  padding: 10px;
  background-color: #fbfbfb;
  border-radius: 20px;
}

.post-single-image-container {
  margin-top: 12px;
  margin-bottom: 10px;
}

.post-card-middle {
    margin-left: 15px;
    flex-grow: 1;
}

.post-card-bottomline {
    font-size: 15px;
    color: #707070;
    border-top-style: solid;
    border-top-color: whitesmoke;
    border-top-width: 1px;
    padding-top: 8px;
    margin-top: 8px;
}

.post-card-bottomline-single-left {
    flex-grow: 1;
}

.write-review-btn-wrapper {
    padding: 10px 0px 0px 10px;
}

.post-card-single-bottomLine {
    font-size: 15px;
    color: #707070;
    border-top-style: solid;
    border-top-color: whitesmoke;
    border-top-width: 1px;
    padding-top: 8px;
    margin-top: 8px;
}

.post-options-icon:hover {
  fill:#00947e;
}

.post-option-list {
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 150px;
  position: absolute;
  top: 12px;
  right: 0;
  border-radius: 10px;

}

.post-option-item {
  font-family: 'Roboto';
  font-size: 14px;
  flex-direction: row-reverse;
  display: flex;
  padding: 12px;
}

.post-option-item:hover {
  background: #ebebeb;
}

.post-option-text {
  margin-right: 14px;
  margin-top: 3px;
}

.post-option-icon {
  fill: #565656;
}

.post-option-wrapper {
  position: relative;
  display: none;
}

.post-option-trigger {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.post-option-trigger:hover {
  background-color: #f3f3f3;
}

.post-photo-preview {
  height: 120px;
  width: 120px;
  border-radius: 25px;
  margin-right: 15px;
}

.post-card-bottomline > div {
    margin-left: 15px;
}

.post-card-ave-score {
    margin-left: 10px;
    margin-top: 0.8px;
}

.post-card-right {
    display: flex;
    flex-direction: row-reverse;
}

.format-date {
    font-size: 12.5px;
    margin-bottom: 3px;
    color: #707070;
    font-weight: 300;
}

.post-section-header {
    padding: 30px 30px 15px 30px;
}

.post-section-title {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    font-family: 'Roboto';
}

.post-section-about {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #939393;
    margin-top: -5px;
}

.user-cover-photo {
    width: 100%;
}

.user-cover {
    width: 100%;
}

.user-card {
    margin-top: -80px;
}

.has-post-notif {
    padding: 30px 10px;
}

.create-post-preview {
    border-style: solid;
    height: 80px;
    border-width: 1px;
    border-radius: 12px;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 15px;
    font-family: 'Roboto';
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    background-color: #fbfbfb;
    font-size: 15.5px;
    cursor: text;
}

.create-post-preview.with-placeholder {
    color: #c1c1c1;
}

.create-post-wrapper {
    padding: 15px 35px;
    margin-top: -20px;
}

.createPost.card {
    max-width: 580px;
    width: 100%;
    padding: 30px;
}

textarea.create-new-post {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 15px;
}

textarea.create-new-post:focus {
    outline-color: #00947e;
    outline-width: 1px;
}

.create-post-cta {
    flex-direction: row-reverse;
}

.create-post-cta > button {
    margin-left: 5px;
}

.review-single-score {
    margin-bottom: 4px;
}

.single-review-container {
    padding: 25px 65px;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
}

#modals {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #181818c7;
    display: none;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

#modals button.delete {
    max-height: 45px;
    max-width: 45px;
    min-height: 45px;
    min-width: 45px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1001;
}

.star-ratings-input {
    cursor: pointer;
}

#star-rating-selectors {
    padding: 10px 10px 20px 10px;
}

#rate-message:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    right: 0.5em;
}

.rate-message-cont {
    margin-left: 15px;
}

.create-review-pane {
    margin-bottom: 10px !important;
}

.new-post-ctas {
    flex-direction: row-reverse;
    padding: 5px 35px;
}

.add-photo-button {
  margin-right: 10px;
  background-color: #f1f1f1;
  padding: 11px 14px 5px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;

}

.add-photo-button:hover {
  background-color: #00947e;
  color: white;
}

@media (min-width:760px){
    .user-card {

    }
}
@media (max-width: 659px) {

}

/** Bulma Override **/
.title, .subtitle {
  font-family: 'Roboto';
}

.title {
  font-weight: 500;
  text-shadow: 0.7px 0 #5e5e5e;
  letter-spacing: 0.5px;
}

.title.is-6 {
    font-size: 1.04rem;
}

.card {
  box-shadow: 0 0.1em 0.4em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.subtitle.is-7 {
    font-size: 0.85rem;
}

.subtitle {
    color: #545454;
    letter-spacing: 0.5px;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.10rem;
}

.page.title {
  font-weight: 400;
  font-size: 0.95rem;
  text-shadow: 1px 0 #a7a7a7;
}

.button {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.5px;
}

hr {
    background-color: #efefef;
    height: 1px;
}

.button.is-primary {
  background-color: #00947e;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #00947e;
    color: #00947e;
}

.button.is-primary.is-outlined:hover {
    background-color: #00947e;
    border-color: #00947e;
}

.button.is-primary.is-outlined:focus {
    background-color: #00947e;
    border-color: #00947e;
}

.button.is-primary.is-outlined:active {
    background-color: #00947e;
    border-color: #00947e;
}

.button.is-primary[disabled], fieldset[disabled] .button.is-primary {
    background-color: #00947e;
}

.button.is-primary:hover {
  background-color: #00947e;
}

.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(103 58 183 / 0%);
}

.notification {
  font-size: 12.5px;
  font-family: 'Roboto';
  padding: 10px;
}

.notification.is-danger.is-no-bg {
    background-color: #ffffff00;
    color: #f14668;
}

.input.has-error {
    border-color: #f14668;
}

select.select {
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: 14px;
}

select.select.visibility {
  border-radius: 20px;
  margin-right: 10px;
  background-color: #6c6c6c;
  border-style: none;
  color: white;
  font-size: 12px;
}
